@media(max-width:768px) {

    .top-navbar{
        position: relative;
    }
    .top-navbar .navbar-brand{
        width: 100%;
    }
    

    .navbar-side {
        z-index: 1;
        width: 100%;
        position: relative;
        top: 0;
    }
  
}
  #page-wrapper {
        height: 1000px;
        padding: 15px 30px;
        top: 0;
    }

